.burner-interest {
  font-size: 12px;
  border-radius: 11vw;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 15vw;
  display: flex;
  width: 15vw;
  padding: 20px;
  border: 1px solid #ccc;
  position: absolute;
}

.burner-interest:hover {
  border: 1px solid #333;
}

